
# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/
env/

# Ignore environment variables file
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore log files
*.log

# Ignore object detection model files
*.pt

# Ignore other common files
.DS_Store
Thumbs.db